#editTask{
    width: 90%;
    min-height: 300px;
    margin: auto;


button
{
    background-color: green;
    border: 0px solid;
    outline: none;
    border-radius: 10px;
    padding: 10px;
    color: white;
}
}